body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  background-color: #FFFFFA;
}

a {
  color: #00B7FF;
}

h1.h1-index {
  /* width: 50%; */
  text-align: center;
  font-family: 'Poiret One';
  font-size: 200px;
  letter-spacing: 0.3em;
  color: #0D5C63;
}

h1.h1-dashboard {
  /* width: 50%; */
  /* text-align: center; */
  font-family: 'Poiret One';
  font-size: 30px;
  letter-spacing: 0.12em;
  color: #0D5C63;
}

button.button-index {
  display: none;
}

.button-style {
  /* display: none; */
  background-color: white;
  color: black;
  /* border: 2px solid #4CAF50; /* Green */ */
  border: 1px solid #ccc;
  border-width: 0px 0px 1px 1px;
  padding-top: 100px;
  cursor: pointer;

  text-align: center;
  font-size: 60px;

  font-family: 'Poiret One';
  letter-spacing: 0.16em;
  color: #247B7B;
}

button {
    display: none;
}

.grid-item {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 260px;
  padding-top: 100px;

  justify-items: center;
  align-items: center;
}

#dashboard-heading {
  display: none;
}
#dashboard-scenes {
  display: none;
}













/* end */
