
h1.h1-index {
  text-align: center;
  font-family: 'Poiret One';
  font-size: 200px;
  letter-spacing: 0.3em;
  color: #0D5C63;
	font-weight: 300;
	/* transform: translateX(2%); */
}

h1.h1-dashboard {
  text-align: center;
  font-family: 'Poiret One';
  font-size: 30px;
  letter-spacing: 0.3em;
  color: #0D5C63;
}

button.button-index {
  display: none;
}

.index-arrow {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translateX(-50%);
}

.button-style {
  /* display: none; */
  background-color: white;
  color: black;
  /* border: 2px solid #4CAF50; /* Green */ */
  /* padding-top: 100px; */
  cursor: pointer;

  text-align: center;
  font-size: 60px;

  font-family: 'Poiret One';
  letter-spacing: 0.16em;
  color: #247B7B;
}

button {
    display: none;
}

.grid-item {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 260px;
  /* padding-top: 100px; */

  justify-items: center;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  /* justify-items: center; */
  align-items: center;
}

.second-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 260px;
  /* padding-top: 100px; */

  justify-items: center;
  align-items: center;

}

#dashboard-heading {
  display: none;
}
#dashboard-scenes {
  display: none;
}

.section01 {
  height: 100vh;
}

.section02 {
  height: 100vh;
  background-color: #247B7B;
}











/* end */
