
h1.h1-index {
  text-align: center;
  font-family: 'Poiret One';
  font-size: 200px;
  letter-spacing: 0.3em;
  color: #0D5C63;
	font-weight: 300;
	/* transform: translateX(2%); */
}

h1.h1-dashboard {
  text-align: center;
  font-family: 'Poiret One';
  font-size: 30px;
  letter-spacing: 0.3em;
  color: #0D5C63;
}

button.button-index {
  display: none;
}

.index-arrow {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translateX(-50%);
}

.button-style {
  /* display: none; */
  background-color: white;
  color: black;
  /* border: 2px solid #4CAF50; /* Green */ */
  /* padding-top: 100px; */
  cursor: pointer;

  text-align: center;
  font-size: 60px;

  font-family: 'Poiret One';
  letter-spacing: 0.16em;
  color: #247B7B;
}

button {
    display: none;
}

.grid-item {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 260px;
  /* padding-top: 100px; */

  justify-items: center;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  /* justify-items: center; */
  align-items: center;
}

.second-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 260px;
  /* padding-top: 100px; */

  justify-items: center;
  align-items: center;

}

#dashboard-heading {
  display: none;
}
#dashboard-scenes {
  display: none;
}

.section01 {
  height: 100vh;
}

.section02 {
  height: 100vh;
  /* background-color: #7BA6A9; */
}


.sceneTitle {
	font-family: 'Inconsolata';
}

.signupline {
  font-size: 1.5em;
  font-weight: 300;
  /* color: #E0E0E0; */
  color: #42718A;
}
.email-button-style {
    border: none; /*1px solid #ccc;*/
    /*display: inline-block;*/
    /*padding: 6px 12px;*/
    cursor: pointer;
}

.loginformdiv {
  line-height: 3.0;
  position: fixed;
  float: center;
  top: 20%;
  left: 20%;
  font-size: 1.6em;
  font-weight: 300;
}

#loginCTA {
  font-weight: 300;
  line-height: 2.0;
  position: relative;
  margin-top: 40px;
}

form input {
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: #3D405B;
  font-size: 0.8em;
  font-weight: 300;
  padding-bottom: 10px;
}

.signup {
	font-family: 'Inconsolata';
  /*background-color: #E07D78;*/
  /* border: 5px solid red; */
  /* border-width: 0 0 2px 0; */
  /* border-color: #81B29A; */
  /* border-color: #FB887C; */
  position: relative;
  /* padding-bottom: 10px; */
}

#appleimagesignup {
	display: none;
}

#appleimage {
	cursor: pointer;
}

#thankyou {
	display: none;
}

/* end */
