
  <body>
    <section class="section01">
      <h1 class="h1-index" id="index-heading">Nebula</h1>
      <h1 class="h1-dashboard" id="dashboard-heading">Nebula</h1>

      <div class="button-index">
        <label for="signinbutton" class="button-style" id="signinbuttonlabel">
            <p>Sign Up</p>
        </label>
        <button id="signinbutton"></button>
      </div>
      <!-- <div class="index-arrow"> -->
        <!-- <img src="images/arrow.svg"> -->
      <!-- </div> -->

      <div class="wrapper" id="dashboard-scenes">
      </div>
    </section>

    <section class="section02" id="section02id">
    <div class="grid-wrapper">
    <div class="second-wrapper">

      <div class="grid-item"></div>

      <div class="grid-item"  id="appleimagecontainer">
        <img src="images/apple.png" width="100" height="100" id="appleimage">
        <div id="appleimagesignup">
          <p class="sceneTitle" style="font-size: 14px;">Please enter your email to receive a beta version of Nebula</p>
          </br>
          </br>
          <div id="loginform">
            <input type="text" name="email" placeholder="Email" size="60" id="emailinput"><br>
            <div class="signupline">
              <label for="loginbutton" class="email-button-style" id="loginbuttonlabel">
                  <p id="loginCTA"> <span class="signup">Submit</span></p>
              </label>
              <button id="loginbutton"></button>
            </div>
          </div>
        </div>

        <div id="thankyou" class="sceneTitle">
          <p>Thank you! We'll be in touch shortly.</p>
        </div>

      </div>

      <div class="grid-item">
        <input type="image" src="images/unity.png" width="100" height="100" onclick="location.href='https://github.com/Jordan-Campbell/Nebula-Beta';">
      </div>

      <div class="grid-item">
      </div>

      <!-- <div class="grid-item">
        <img src="https://www.atlasreality.xyz/boltFill.svg">
      </div> -->

    </div>
    </div>
      <!-- <h1>Wintermute</h1> -->
      <!-- <h1>Neuromancer</h1> -->
      <!-- <h1>Hyperion</h1> -->
    </section>
  </body>
</html>


<!--

[DONE] 1. After signin go to the "dashboard page"
    - hide all the index elements
    - show all the dashboard elements

[DONE] 2. Retrieve the list of folders from the storage uid

[DONE] 3. Get the relevant information

[DONE] 4. Create / display the list of scenes
    - should be able to programmatically add
    - https://developer.mozilla.org/en-US/docs/Web/API/Document/createElement

5. add download button

6. allow download on click

7. onHover show download image

8. download when click image



 -->











<!-- end -->
