<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-messaging.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-storage.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCHdZ0q-qjFmVNpvsU1LX1XOumKap2-gO8",
        authDomain: "nebula-b1e95.firebaseapp.com",
        databaseURL: "https://nebula-b1e95.firebaseio.com",
        projectId: "nebula-b1e95",
        storageBucket: "nebula-b1e95.appspot.com",
        messagingSenderId: "211700364487"
      };
      firebase.initializeApp(config);
    </script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
